<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--
    <bean class="ua.com.karre.topjava.repository.mock.MockUserRepository" id="mockUserRepository"/>

    <bean class="ua.com.karre.topjava.service.UserServiceImpl">
        <property name="repository" ref="mockUserRepository"/>
    </bean>
-->


    <context:annotation-config/>

    <context:component-scan base-package="ua.com.karre.**.repository.jdbc"/>

    <context:component-scan base-package="ua.com.karre.**.service"/>

    <context:component-scan base-package="ua.com.karre.**.web"/>

</beans>